<div class="container">
    <div class="row">
      <div #cell class="cell" >
        <div class="content" id="cell_one" (click)="markBlock($event)"></div></div>
      <div #cell class="cell">
        <div class="content" id="cell_two" (click)="markBlock($event)"></div></div>
      <div #cell class="cell" >
        <div class="content" id="cell_three" (click)="markBlock($event)"></div></div>
    </div>
    <div class="row">
      <div #cell class="cell"  >
        <div class="content" id="cell_four" (click)="markBlock($event)"></div></div>
      <div #cell class="cell"  >
        <div class="content" id="cell_five" (click)="markBlock($event)"></div></div>
      <div #cell class="cell"  >
        <div class="content" id="cell_six" (click)="markBlock($event)"></div></div>
    </div>
    <div class="row">
      <div #cell class="cell"  >
        <div class="content" id="cell_seven" (click)="markBlock($event)"></div></div>
      <div #cell class="cell"  >
        <div class="content" id="cell_eight" (click)="markBlock($event)"></div></div>
      <div #cell class="cell"  >
        <div class="content" id="cell_nine" (click)="markBlock($event)"></div></div>
  </div>    
</div>


<!-- Convert into for loop script -->