<div class="container">
    <div class="row">
      <div class="cell" id="cell_one" (click)="markBlock()">
      </div>
      <div class="cell" id="cell_two" (click)="markBlock()">
      </div>
      <div class="cell" id="cell_three" (click)="markBlock()">
      </div>
    </div>
    <div class="row">
      <div class="cell" id="cell_four" ></div>
      <div class="cell" id="cell_five" ></div>
      <div class="cell" id="cell_six" ></div>
    </div>
    <div class="row">
        <div class="cell"id="cell_seven" ></div>
        <div class="cell"id="cell_eight" ></div>
        <div class="cell"id="cell_nine" ></div>
    </div>    
</div>
