.container{
    margin: auto;
    height: 50%;
    width: 50%;
    padding: 10px;
    background-color: purple;
    border-radius: 25px;
    box-shadow: 0 0 20px orange;
}
.row{
    margin: auto;
    padding: 10px;
}

.cell{
    position: relative;
    width: 25%;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin: auto;

}

.cell:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 10vw;
    text-align: center;
    line-height: 100%;
    z-index: 1;
    color: white;
}

.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    border-radius: 25px;
    z-index: -1;
    transition: transform 300ms ease-in;
    transform: scale(0);   
}

.content:hover::after {
    transform: scale(1);    
}

#box{
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
}

.reset {
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    margin-left: 10%;
    cursor: pointer;
    background-color: #3498bd;
    display: inline-block;
    border-radius: 4px;
}
/*Add hover and hand pointer features*/