<div class="container">
    <div class="row" (click)="markBlock($event)">
      <div class="cell" id="cell_one" >
        <div id="content"></div>
      </div>
      <div class="cell" id="cell_two">
        <div id="content"></div>
      </div>
      <div class="cell" id="cell_three" >
        <div id="content"></div>
      </div>
    </div>
    <div class="row">
      <div class="cell" id="cell_four" ></div>
      <div class="cell" id="cell_five" ></div>
      <div class="cell" id="cell_six" ></div>
    </div>
    <div class="row">
        <div class="cell"id="cell_seven" ></div>
        <div class="cell"id="cell_eight" ></div>
        <div class="cell"id="cell_nine" ></div>
    </div>    
</div>
